body {
    margin: 0;
    background: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  
  }

/* navigatin */ 
  .gnb-menu { 
    display:flex;
    justify-content: space-around;
    align-items:center ;
    height: 20vh;
    
    
  }
  
  .gnb-menu a { 
    font-size:  20px;
    color: #707070;
    text-decoration: none;
    position: relative;
    padding: 6px 12px;
  }
  .gnb-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: orange;
    transition: all 0.5s ease-out;
  }
  
  .gnb-menu a:hover::after { 
    width: 100%;
  
  }
 
/* Typography */ 




  